@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/type' as *;
@use '@carbon/react/scss/breakpoint' as *;
@use '@carbon/react/scss/theme' as *;

.dashboard-page__banner {
  padding-top: $spacing-05;
  padding-bottom: $spacing-07;
}

.dashboard-page__heading {
  @include type-style('productive-heading-05');
}

.dashboard-page__sample_table {
  padding-top: $spacing-05;
}